<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="./images/flower-icon.png" />
    <link rel="stylesheet" type="text/css" href="./vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="./styles/main.css">
    <script src="./scripts/main.js"></script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

</head>


<body class="content">

    <%- include(`partials/header`); %>
        <main class="main">

            <section class="section secondary-color-bg">
                <div class="container">
                    <div class="centered-container">
                        <h1 class="decorated-title font-secondary main-color">
                            <span class="main-color-emphasized">Newsletter </span> subscription
                        </h1>
                        <form method="post" class="form gutter">
                            <fieldset class="form-fieldset">
                                <legend class="form-legend">Consider subscribing to one of our newsletters</legend>


                                <div class="form-group">
                                    <label class="form-label" for="email">
                                        Where would you like to receive your newsletter? If left blank, we will use the
                                        one you
                                        have provided during registration.
                                    </label>

                                    <input class="form-input form-component" type="email" id="email" name="email" <%-
                                        `value="${helper.email()}" ` %>
                                    >
                                </div>

                                <div class="form-group">

                                    <label class="form-label" for="newsletters">Available newsletters:
                                    </label>
                                    <select class="form-component" id="newsletters" name="newsletters">
                                        <% for (const opt of helper.newsletters()) { %>
                                            <option <%- helper.isNewsletterSelected(opt) %>>
                                                <%= opt %>
                                            </option>
                                            <% } %>
                                    </select>
                                </div>


                                <label class="form-label">
                                    Please confirm the following statements to continue:
                                </label>
                                <div class="form-group">

                                    <% for (const val of helper.statements()) {%>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" name="statements"
                                                id="<%- helper.stringToHTMLId(val.statement) %>"
                                                value="<%-val.statement%>" <%- helper.isStatementSelected(val) %>
                                            required
                                            >
                                            <label class="form-check-label"
                                                for="<%-helper.stringToHTMLId(val.statement)%>">
                                                <%- val.statement %>
                                            </label>
                                        </div>

                                        <% } %>

                                </div>

                                <input class="btn" type="submit" formaction="/on-site/save"
                                    value="Save and return to cart">
                                <input class="btn" type="submit" formaction="/on-site/reset" value="Reset">
                                <input class="btn push-right" type="submit" formaction="/on-site/order"
                                    value="Order now!">

                            </fieldset>
                        </form>
                    </div>
                </div>
            </section>
        </main>

        <%- include(`partials/footer`); %>

</body>

</html>