<!DOCTYPE html>
<html>

<%- include(`partials/head`); %>

    <body class="content">

        <%- include(`partials/header`); %>

            <main class="main">

                <!-- INSERT CODE HERE  -->
                <div class="item-view">
                    <img class="item-view-image" src="<%= product.imageurl %>"></img>
                    <div class="item-view-text">
                        <div class="item-view-text-title font-secondary main-color-emphasized">
                            <%= product.name %>
                        </div>
                        <hr>
                        <div class="item-view-text-property main-color">Price: <span class="item-view-text-value">
                                <%= product.price%>
                                    kn
                            </span></div>
                        <div class="item-view-text-property main-color">Available colors: <span
                                class="item-view-text-value">
                                <%= product.colors %>
                            </span></div>
                        <div class="item-view-text-property main-color">Category: <span class="item-view-text-value">
                                <%= category.name %>
                            </span></div>
                        <div class="item-view-text-property main-color">Seasonal: <span class="item-view-text-value">
                                <%= category.seasonal %>
                            </span></div>
                        <div class="item-view-text-desc font-secondary main-color">
                            <%= category.description %>
                        </div>
                    </div>
                </div>

            </main>

            <%- include(`partials/footer`); %>

    </body>

</html>